**/__pycache__/
/.idea/
*/__pycache__
.DS_Store
.DS_Store
/.DS_Store
zsh/.config/lazygit/
zsh/.config/nvim/
zsh/.config/htop
elpaca
zsh-autosuggestions
zsh-syntax-highlighting
fish/.config/fish/fish_variables
yazi/.config/yazi/plugins/piper.yazi
yazi/.config/yazi/package.toml
AGENTS.md
.crush
zed/.config/zed/settings.json
